header {
    padding-bottom: 20px;
    border-bottom: black solid;
}

#top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    width : 100%;
}

#top2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    width : 100%;
}

#top2 a {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    justify-content: center;
    width : 10%;
}

#top a {  
    margin-left: 20px;
    text-align: right;
    justify-content: right;
}
#formRecherche {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
    
#barre{
    width: 80%;
    padding-right: 10px;   
    padding-top: 5px; 
}

#barreRecherche{
    width:100%;
    border : 2px solid black;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 150%;
}

#divlogin{
    width: 500px;
    text-align: right;
    padding-top: 6px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: top;
}

.Connexion{
    text-decoration: none;
    padding: 10px;
    font-size: 100%;
    color: black;
    background-color: rgb(251, 113, 113);
    border-radius: 10px;
    margin: 2px;
}

.Connexion:hover {
    background-color: #3e8e41;
}

body {
    background-color: rgb(245,245, 220);
}

#container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 20px;
}

#container::after {
    content: "";
    position: absolute;
    top: 116px;
    bottom: 0;
    width: 3px;
    background-color: #000; /* Couleur de la barre verticale */
    left: 70%; /* Position de la barre verticale (70% de la largeur totale) */
}

#bestUser img {
    margin-left: 20%;
    mix-blend-mode: color-burn;
}

.info{
    display: flex;
    padding-bottom: 5px;
}

.image{
    width:100px;
    float: left;
}

.recette{
    display: flex;
    text-align: left;
    padding-left : 10px;
    align-items: center;
}

.score-red {
    color: red;
}
