#top{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#barreRecherche{
    width: 990px;
    border : 2px solid black;
    border-radius: 10px;;
    padding-left: 10px;
    font-size: 25px;
}
button {
    font-size:25px;
}
.Connexion{
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    color: black;
    background-color: rgb(251, 113, 113);
    border-radius: 10px;
    margin: 2px;
}

.Connexion:hover {
    background-color: #3e8e41;
}