body {
    background-color: rgb(245,245, 220);
}

.createAccount {
    background-color: white;
    border:yellow;
    border-style: solid;
    text-align: right;
}

.Login {
    background-color: white;
    border:yellow;
    border-style: solid;
    text-align: right;
}

.Login > img {
    width: 15px;
    vertical-align: middle;
}

